<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SlideShare</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body
    class="bg-blue-100 w-screen h-screen flex items-center justify-center h-screen flex-col"
  >
    <h1 class="text-5xl font-bold text-center text-gray-800 mb-20">
      Error 401: Unauthorized Access
    </h1>
    <img src="../assets/401-error.svg" alt="image of 404 error code" />
  </body>
</html>
